.header {
	@include to(1199px) {
		margin-bottom: 60px;
	}

	@include to(767px) {
		margin-bottom: 12px;
	}

	display: flex;
	flex-direction: column;
	margin-bottom: 115px;

	// .header__inner
	&__inner {
		display: flex;
		align-items: center;

		.header__top & {
			@include to(991px) {
				justify-content: space-between;
				height: auto;
				padding: 18px 0;
			}

			@include to(767px) {
				padding: 20px 0;
			}

			height: 100px;
		}
	}

	// .header__top
	&__top {}

	// .header__logo
	&__logo {
		@include to(1199px) {
			margin-right: 24px;
		}

		@include to(767px) {
			width: 65.23px;

			img {
				max-width: 100%;
			}
		}

		margin-right: auto;
	}

	// .header__links
	&__links {

		// flex-grow: 1;
		@include to(1199px) {
			flex-grow: 1;
			justify-content: space-between;
		}

		display: flex;
		align-items: center;
	}

	// .header__link
	&__link {
		@include to(1199px) {
			font-size: 14px;
			margin-right: 12px;
		}

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		color: #000000;
		margin-right: 38px;
		padding-right: 7px;
		transition: .5s;

		&:hover {
			color: $main;
		}
	}

	// .header__button
	&__button {
		@include to(767px) {
			width: 200px;
			height: 35px;

			img {
				max-width: 100%;
			}
		}

		display: flex;
		align-items: center;
		justify-content: center;
		width: 229px;
		height: 40px;
		border-radius: 5px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		text-transform: uppercase;
	}

	// .header__bottom
	&__bottom {
		@include to(991px) {
			padding: 0;
			border-top: 0;
		}

		position: relative;
		border-top: 1px solid #000000;
		font-style: normal;
		font-weight: 700;
		padding: 16px 0;
	}

	// .header__anchors
	&__anchors {
		@include to(1199px) {
			justify-content: flex-start;
			padding-left: 133px;
		}

		display: flex;
		flex-grow: 1;
		justify-content: center;
		padding-left: 163px;
	}

	// .header__anchor
	&__anchor {
		@include to(1199px) {
			font-size: 14px;
			margin-right: auto;
		}

		font-size: 16px;
		line-height: 20px;
		color: #000000;
		margin-right: 40px;
		position: relative;

		&:after {
			content: "";
			display: flex;
			position: absolute;
			bottom: -8px;
			width: 100%;
			height: 3px;
			transition: 0.5s;
			background: $main;
			opacity: 0;
			pointer-events: none;
		}

		&:hover:after {
			opacity: 1;
		}
	}

	// .header__tel
	&__tel {
		font-size: 20px;
		line-height: 24px;
		color: #000000;
	}

	a {
		text-decoration: none;
	}
}
