.article {
	@include to(1199px) {
		margin-bottom: 100px;
	}

	@include to(991px) {
		margin-bottom: 60px;
	}

	@include to(767px) {
		margin-bottom: 64px;
	}

	margin-bottom: 209px;

	.swiper {
		&-container {}

		&-wrapper {}

		&-slide {
			@include to(991px) {
				// width: 315px;
			}

			@include to(767px) {
				width: 315px;

				&:not(:last-of-type) {
					margin-right: 15px;
				}
			}

			@include from(768px) {
				&:hover {
					transform: translateY(-20px);
					box-shadow: 0 20px 45px rgba(42, 83, 106, 0.1);
				}
			}

			display: flex;
			flex-direction: column;
			width: 400px;
			height: auto;
			overflow: hidden;
			border-radius: 10px;
			pointer-events: none;

			&:not(:last-of-type) {
				margin-right: 20px;
			}

			&-active {
				@include to(767px) {
					box-shadow: 0 20px 45px rgba(42, 83, 106, 0.1);
				}

				pointer-events: all;

				+.swiper-slide {
					@include from(1200px) {
						+.swiper-slide {
							opacity: 1;
							pointer-events: all;
						}
					}

					opacity: 1;
					pointer-events: all;
				}
			}
		}

		&-prev {}

		&-right {}
	}

	// .article__inner
	&__inner {}

	// .article__title
	&__title {
		@include to(1199px) {
			font-size: 80px;
			margin-bottom: 66px;
		}

		@include to(991px) {
			font-size: 60px;
			margin-bottom: 30px;
		}

		@include to(767px) {
			font-size: 42px;
			line-height: 80%;
			margin-bottom: 31px;
		}

		font-style: normal;
		font-weight: 800;
		font-size: 132px;
		line-height: 80.8%;
		text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		color: #fff;
		margin-bottom: 94px;

		@supports (-webkit-text-stroke: 1px #000) {
			text-shadow: unset;
			-webkit-text-stroke: 1px #000;
			-webkit-text-fill-color: #fff;
		}
	}

	// .article__pic
	&__pic {
		@include to(767px) {
			margin-top: -28px;
		}

		max-height: 300px;

		img {
			max-width: 100%;
		}
	}

	// .article__info
	&__info {
		@include to(1199px) {
			padding: 24px;
		}

		@include to(767px) {
			margin-top: -32px;
			z-index: 2;
			background: #fff;
			padding: 21px 21px 16px 15px;
		}

		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: 100%;
		padding: 30px 25px 30px 30px;
	}

	// .article__caption
	&__caption {
		@include to(1199px) {
			font-size: 18px;
			margin-bottom: 18px;
			height: 63px;
		}

		@include to(767px) {
			font-size: 18px;
			line-height: 22px;

			br {
				display: none;
			}
		}

		margin-bottom: 20px;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 120%;
		height: 72px;
		/* or 24px */
		color: $title;
	}

	// .article__text
	&__text {
		@include to(1199px) {
			margin-bottom: 20px;
		}

		@include to(767px) {
			font-size: 12px;
			margin-bottom: 41px;
		}

		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		margin-bottom: 28px;
		max-width: 330px;
		/* or 22px */
		/* gray2 */
		color: #6b6a69;
	}

	// .article__link
	&__link {
		@include to(1199px) {
			font-size: 18px;
		}

		@include to(767px) {
			font-size: 16px;
			line-height: 160%;
		}

		margin-top: auto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 160%;
		/* identical to box height, or 32px */
		text-decoration-line: underline;
		color: $main;
	}
}
