.tools {
	@include to(1199px) {
		margin-bottom: 100px;
	}
	@include to(991px) {
		margin-bottom: 60px;
	}

	margin-bottom: 218px;

	.swiper {
		position: relative;

		&-container {
			overflow: visible;
		}

		&-wrapper {}

		&-slide {
			@include to(991px) {
				flex-direction: column;
				&:nth-of-type(2){
					.tools__caption{
						flex-direction: row;
						flex-wrap: wrap;
					}
				}
			}

			display: flex;
			align-items: center;
			overflow: hidden;
			border-radius: 10px;
			background: #ffffff;
			opacity: .5;
			transition: .5s;

			&:hover {
				transform: translateY(-10px);
			}

			&-active {
				opacity: 1;
			}
		}
	}

	// .tools__inner
	&__inner {}

	// .tools__title
	&__title {
		@include to(1199px) {
			font-size: 80px;
			margin-bottom: 66px;
		}

		@include to(991px) {
			font-size: 60px;
			margin-bottom: 30px;
		}

		font-style: normal;
		font-weight: 800;
		font-size: 132px;
		line-height: 80.8%;
		text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		color: #fff;
		margin-bottom: 106px;
		-webkit-text-stroke: 1px #000;

		@supports (-webkit-text-stroke: 1px #000) {
			text-shadow: unset;
			-webkit-text-stroke: 1px #000;
			-webkit-text-fill-color: #fff;
		}
	}

	// .tools__info
	&__info {

		// transform: translateY(-59%);
		@include to(1199px) {
			right: 60px;
			max-width: 300px;
		}

		@include to(991px) {
			position: static;
			max-width: 100%;
			padding: 15px 50px;
		}

		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 157px;
		right: 112px;
		// bottom: 0;
		max-width: 500px;
	}

	// .tools__caption
	&__caption {
		@include to(1199px) {
			font-size: 36px;
			margin-bottom: 32px;
		}

		font-style: normal;
		font-weight: 800;
		font-size: 56px;
		line-height: 100.8%;
		color: $title;
		margin-bottom: 43px;

		span {
			color: $main;
			display: block;
		}
	}

	// .tools__text
	&__text {
		@include to(1199px) {
			font-size: 16px;
		}

		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 160%;
		/* or 29px */
		/* gray2 */
		color: #6b6a69;
	}

	// .tools__img
	&__img {
		@include to(1199px) {
			width: 50%;
		}

		@include to(991px) {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: -142px;

			img {
				max-width: 100%;
				max-height: 450px;
			}
		}

		box-sizing: border-box;
		padding: 36px 75px;
		background: #f5f5f5;
	}

	// .tools__bg
	&__bg {
		@include to(991px) {
			max-width: calc(100% + 178px);
			position: relative;
			right: -178px;

			img {
				max-width: 100%;
			}
		}

		picture {
			display: flex;
			align-items: center;
		}
	}
}
