.what {
	@include to(1199px) {
		padding: 100px 0;
	}

	@include to(991px) {
		padding: 40px 0;
	}

	@include to(767px) {
		padding: 50px 0 63px;
	}

	padding-top: 205px;
	padding-bottom: 212px;

	// .what__inner
	&__inner {
		@include to(991px) {
			flex-wrap: wrap;
		}

		display: flex;

		// justify-content: space-between;
		&:after {
			@include to(991px) {
				display: none;
			}

			content: "";
			// height: 100%;
			display: flex;
			width: 1px;
			background: #c4c4c4;
			margin: 0 9% 0 11%;
		}
	}

	// .what__item
	&__item {
		&:first-of-type {
			.what__text {
				max-width: 484px;
			}
		}

		&:last-of-type {
			order: 2;

			.what__text {
				max-width: 458px;
			}
		}

		@include to(991px) {
			width: 100%;

			&:first-of-type {
				@include to(767px) {
					margin-bottom: 37px;
				}

				margin-bottom: 30px;

				.what__text {
					@include from(767px) {
						br {
							display: none;
						}
					}

					max-width: 100%;
				}
			}

			&:last-of-type {
				.what__text {
					@include from(767px) {
						br {
							display: none;
						}
					}

					max-width: 100%;
				}
			}
		}
	}

	// .what__caption
	&__caption {
		@include to(1199px) {
			font-size: 32px;
		}

		@include to(991px) {
			margin-bottom: 20px;
		}

		@include to(767px) {
			margin-bottom: 16px;
		}

		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 100.8%;
		margin-bottom: 44px;
		/* or 42px */
		/* gray */
		color: $title;

		span {
			color: $main;
			display: block;
		}
	}

	// .what__text
	&__text {
		@include to(1199px) {
			font-size: 16px;
		}

		@include to(767px) {
			font-size: 14px;
			line-height: 160%;
		}

		font-family: "Open Sans",
			sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 162%;
		/* or 29px */
		color: $title;
	}
}
