.swiper {
	@include to(767px) {

		&-prev,
		&-right {
			display: none;
		}
	}

	position: relative;

	&-container {
		overflow: visible;
	}

	&-wrapper {}

	&-slide {
		@include from(768px) {
			&:hover {
				transform: translateY(-10px);
				box-shadow: 0 20px 45px rgba(42, 83, 106, 0.05);
			}
		}

		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: 10px;
		background: #ffffff;
		opacity: .5;
		transition: .5s;

		&-active {
			@include to(767px) {
				box-shadow: 0 20px 45px rgba(42, 83, 106, 0.05);
			}

			opacity: 1;
		}
	}

	&-prev,
	&-right {
		display: flex;
		align-items: center;
		position: absolute;
		z-index: 2;
		top: 50%;
		width: 70px;
		height: 70px;
		background: url("../img/svg/arrow-blue.svg") $main;
		background-size: 22.58px 26.25px !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		box-shadow: 0 20px 45px rgba(42, 83, 106, 0.1);
		border-radius: 50%;
		overflow: hidden;
		transition: background-color 0.3s ease;
		cursor: pointer;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&-prev {
		left: -35px;
		transform: rotate(-180deg) translateY(50%);

		&.swiper-button-disabled {
			background: url("../img/svg/arrow.svg") white;
			transform: rotate(0deg) translateY(-50%);
		}
	}

	&-right {
		right: -35px;
		transform: translateY(-50%);

		&.swiper-button-disabled {
			background: url("../img/svg/arrow.svg") white;
			transform: rotate(-180deg) translateY(50%);
		}
	}
}
