.works {
	@include to(1199px) {
		padding-bottom: 164px;
	}

	@include to(991px) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding-bottom: 60px;

		.container {
			width: 100%;
		}
	}

	@include to(767px) {
		padding-bottom: 64px;
	}

	position: relative;
	padding-bottom: 327px;

	// .works__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	// .works__title
	&__title {
		@include to(1199px) {
			font-size: 66px;
		}

		@include to(1199px) {
			font-size: 54px;
			margin-bottom: 20px;
		}

		@include to(767px) {
			font-size: 42px;
			margin-left: 0;
			margin-bottom: 18px;
		}

		font-style: normal;
		font-weight: 800;
		font-size: 100px;
		line-height: 100.8%;
		/* or 101px */
		color: $title;
		margin-bottom: 60px;
		margin-left: -8px;

		span {
			color: $main;
			display: block;
		}
	}

	// .works__list
	&__list {
		@include to(767px) {
			font-size: 14px;
			line-height: 120%;
		}

		@include to(767px) {
			margin-bottom: 21px;
		}

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		/* identical to box height, or 26px */
		color: #000000;
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;

		span {
			@include to(1199px) {
				margin-bottom: 24px;
			}

			@include to(767px) {
				margin-bottom: 19px;
			}

			margin-bottom: 43px;
			display: flex;
			align-items: center;
		}

		img {
			margin-right: 20px;
		}
	}

	// .works__caption
	&__caption {
		@include to(1199px) {
			margin-bottom: 62px;
		}

		@include to(1199px) {
			margin-bottom: 40px;
		}

		@include to(767px) {
			max-width: 219px;
			margin-bottom: 43px;
		}

		margin-bottom: 83px;
	}

	// .works__button
	&__button {
		@include to(767px) {
			box-sizing: border-box;
			width: 100%;
			max-width: 100%;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		width: 300px;
		height: 60px;
		border-radius: 9px;
		font-style: normal;
		font-weight: 700;
		font-size: 21px;
		line-height: 26px;
		/* identical to box height */
		text-align: center;
		text-transform: uppercase;
	}

	// .works__bg
	&__bg {
		@include to(1199px) {
			width: 830px;
		}

		@include to(991px) {
			position: static;
			max-width: calc(100% + 82px);
			margin-right: -82px;
		}

		position: absolute;
		top: 20px;
		right: -160px;

		img {
			max-width: 100%;
		}
	}
}
