@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
